/*********** Modal global ***********/

:root {
   --firstColor: #1d6154;
   --secondColor: #b1663c;
}

.modal {
   display: none;
   align-items: center;
   justify-content: center;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.3);
   z-index: 1;
}

.modal i {
   display: block;
   font-size: 1.5em;
   border-bottom: 10px;
}

.modalContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 570px;
   padding: 30px;
   border-radius: 10px;
   background-color: white;
   margin: auto;
}

.modalHeader {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.modalTitle {
   font-size: 26px;
   margin-bottom: 47px;
}

.modalContent {
   width: 70%;
   border-bottom: 1px solid #b3b3b3;
   padding-bottom: 47px;
}

/*********** Edit Modal ***********/

#editGallery .modalHeader {
   justify-content: flex-end;
}

#editGallery .modalContent {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-auto-rows: 1fr;
   grid-column-gap: 10px;
   grid-row-gap: 30px;
}

.miniWork img {
   height: 102px;
   object-fit: cover;
}

.miniWork figcaption {
   font-size: 12px;
}

#addPictureBtn {
   width: auto;
   margin-top: 30px;
   padding: 10px 49px;
}

.miniWork {
   position: relative;
}

.miniWork i {
   display: block;
   box-sizing: border-box;
   background-color: #000000;
   color: #ffffff;
   font-size: 0.7em;
   padding: 4px 5px;
   border-radius: 2px;
   position: absolute;
   top: 0.4em;
   right: 0.8em;
}

/*********** addPicture modal ***********/

#addPicture {
   display: none;
}

#addPicture .modalHeader {
   justify-content: space-between;
}

#addPictureForm {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
}

#labelPhoto {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 150px;
   background-color: #e8f1f6;
   border-radius: 3px;
   margin-bottom: 30px;
   text-align: center;
   width: 100%;
   padding-top: 20px;
   position: relative;
}

#labelPhoto span {
   font-size: 10px;
   font-weight: 400;
}

#labelPhoto i {
   font-size: 70px;
   color: #b9c5cc;
}

label.photo {
   background: #cbd6dc;
   min-width: 173px;
   min-height: 36px;
   border-radius: 50px;
   cursor: pointer;
   margin: 7px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

label.addPic:hover {
   filter: contrast(2);
}

input.photo {
   display: none;
}

#picturePreview {
   display: none;
   background-color: #e8f1f6;
   width: 100%;
   justify-content: center;
}

#picturePreview img {
   height: 100%;
   width: 31%;
   object-fit: cover;
}

#title {
   margin-bottom: 11px;
}

select {
   height: 51px;
   font-size: 14px;
   border: none;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
   font-family: "Work Sans";
   font-size: 14px;
   color: #444444;
}

#validate {
   margin: 0;
   margin-top: 30px;
   background-color: #a7a7a7;
   height: 36px;
   width: 42%;
}
