:root{
    --firstColor: #1d6154;
    --secondColor: #b1663c;
 }

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.modalWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 50px);
	width: 630px;
	padding: 30px;
	border-radius: 10px;
	background-color: white;
	margin: auto;
	overflow: auto;
	z-index: 2;

}
.modalHeader {
	display: flex;
	flex-direction: row;
	width: 100%;
}
#editGallery .modalHeader {
	justify-content: flex-end;
}
.modal i {
	display: block;
	font-size: 1.5em;
	border-bottom: 10px;
}
.modalTitle {
	font-size: 26px;
	margin-bottom: 47px;
}
.modalContent {
	width: 70%;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}	

#editGallery .modalContent {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 10px;
}

.miniWork img {
    height: 102px;
    object-fit: cover;
}

.miniWork figcaption {
	font-size: 12px;
}

#addPictureBtn {
	width: auto;
	padding: 10px 49px;
}
#deleteGallery {
	color: var(--secondColor);
}

.miniWork {
	position: relative;
}
.miniWork i {
	display: block;
	box-sizing: border-box;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 0.7em;
	padding: 4px 5px;
	border-radius: 2px;
	position: absolute;
	top: 0.4em;
	right: 0.8em;	
}

#addPicture {
	display: none;
}
#addPicture .modalHeader {
	justify-content: space-between; 
}
#valider {
	background-color: #A7A7A7;
	width: 37%;
}
#addPictureForm {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
#labelPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	padding-top: 25px;
	position: relative;
	box-sizing: border-box;
}
#labelPhoto span {
	font-size: 10px;
	font-weight: 400;
}

#picturePreview {
	display: none;
	background-color: #E8F1F6;
	height: 200px;
	width: 100%;
	justify-content: center;
}
#picturePreview img {
	height: 100%;
	width: 31%;
	object-fit: cover;
}

#browsePictures  {
	font-family: 'Work Sans';
	font-size: 1em;
	font-weight: 600;
	color: #3D3D3D;
	width: fit-content;
}
#browsePictures {
	color: #306685;
	background-color: #CBD6DC;
	border: none;
	padding: 10px 33px;
	margin-bottom: 10px;
	display: inline-block;
	cursor: pointer;
}
#title {
	margin-bottom: 11px;
}